* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    font-family: 'sans-serif';
    background-color: gray;
    font-size: 36px;
    /* height: 130vh; */
}

section{
    background-color: rgb(53, 52, 52);
    height: 800px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: flex-end;

     /* align-content: flex-start; */
     /* align-content: ;
     align-items: ;
     align-self: ;
     align-tracks: ; */
}

.square{
    width: 20%;
    line-height: 200px;
    text-align: center;
}


.one{
    background-color: gold;
}

.two{
    background-color: lime;
}

.three{
    background-color: royalblue;
}

.four{
    background-color: tomato;
}