/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: gray;
	font-size: 20px;
}

section {
	width: 200vh;
	height: 25vh;
	background-color: rgb(45, 43, 43);
	color: white;
	margin: 10px;
}

.square {
	width: 50px;
	height: 50px;
}

.first{
    flex-direction: column;
    flex-direction: column;
}
.first .two{
    flex-grow: 2;
}

.one {
	background-color: gold;
}

.two {
	background-color: lime;
}

.three {
	background-color: royalblue;
}

.four {
	background-color: tomato;
} */

/* ================================================ */


/* NIE MOJ KOD */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 50px;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
	font-size: 40px;
}

section {
	display: flex;
	margin: 20px 0;
	height: 300px;
	border: 5px solid black;
}

.square {
	width: 100px;
	text-align: center;
}

.first {
	flex-direction: column;
}

.first .two {
	flex-grow: 1;
}

.first .four {
	flex-grow: 1;
}

.second {
	justify-content: space-between;
	align-items: center;
}

.third{
    flex-direction: row-reverse;
    align-items: center;
}

.third .one .four{
    flex-grow: 0;
}

.third .four{
    flex-grow: 3;
}

.fourth{
    flex-direction: row-reverse;
    align-items: flex-end;
}

.fourth .two{
    
    align-self: flex-start;
}

.fourth .three{
    align-self: center;
}



.one {
	background-color: gold;
}

.two {
	background-color: lime;
}

.three {
	background-color: royalblue;
}

.four {
	background-color: tomato;
}
